.page{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.grid{
    flex-basis: max-content;
    border : 1px solid red;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
}

.cell {
    border: 1px solid black;
    width: 30px;
    /*height: 100%;*/
}
.player_dash{
    flex-basis: 20%;
    height: 300px;
    border: 1px solid lightgreen;
}

.x-ship{

    background-image: url("./assets/close.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

.o-ship{
    background-image: url("./assets/circle-ring.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}